
@font-face {
  font-family: 'Coure Bold';
  src: url('theboldfont.otf');
}

body, html {
  overflow-x: hidden; 
  overflow-y: hidden;
}

body {
    font-family: 'Coure Bold';
    background: -moz-linear-gradient(68deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(196,196,196,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(68deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(68deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(68deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(22deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#C4C4C4',GradientType=0 ); /* ie6-9 */
}

#popup {
    min-width: 330px;
    width: 335px;
    min-height: 90px;
    max-height: 740px;
    height: auto;
    margin: 3px;
}

#dentro {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

md-card {
    margin: 0px !important;
}

#jtextfill {
    font-size: 20px;
    text-align: center;
    background: rgba(252,205,77,1);
    background: linear-gradient(to bottom, rgba(252,205,77,1) 0%, rgba(252,205,77,1) 15%, rgba(252,234,187,1) 55%, rgba(251,223,147,1) 13%, rgba(248,181,0,1) 100%);
    background: -webkit-repeating-linear-gradient(top, #fee0a1 0px, #ffad00 18px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

md-card-title{
    background: #000;
    padding: 0 0 0 !important;
}

md-card-title-text {
    background: rgb(125,126,125);
    background: -webkit-linear-gradient(top, rgba(125,126,125,1) -24%,rgba(14,14,14,1) 32%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,126,125,1) -24%,rgba(14,14,14,1) 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow:  0px 9px 21px -7px rgba(0,0,0,0.75);
    box-shadow:  0px 9px 21px -7px rgba(0,0,0,0.75)
}

md-card md-card-header {
    margin: 0 auto !important;
    padding: 2px 16px 0px 0px !important;
}

button:focus{
  outline: none;
}

.close {
  position: fixed;
  top: 5px !important;
  right: 5px !important;
  background: none;
  border: none;
}

.md-subhead{
    text-shadow: #ccc 0 1px 0, #c9c9c9 0 0.5px 0, #bbb 0 1.5px 0, #b9b9b9 0 2px 0, #aaa 0 2.5px 0,rgba(0,0,0,.1) 0 3px 0.5px, rgba(0,0,0,.1) 0 0 2.5px, rgba(0,0,0,.3) 0 0.5px 1.5px, rgba(0,0,0,.15) 0 1.5px 1.5px, rgba(0,0,0,.2) 0 1.5px 2.5px, rgba(0,0,0,.2) 0 2.5px 2.5px, rgba(0,0,0,.1) 0 4px 4px;
}


.md-title {
    font-weight: bold !important;
    text-shadow: #ccc 0 1px 0, #c9c9c9 0 0.5px 0, #bbb 0 1.5px 0, #b9b9b9 0 2px 0, #aaa 0 2.5px 0,rgba(0,0,0,.1) 0 3px 0.5px, rgba(0,0,0,.1) 0 0 2.5px, rgba(0,0,0,.3) 0 0.5px 1.5px, rgba(0,0,0,.15) 0 1.5px 1.5px, rgba(0,0,0,.2) 0 1.5px 2.5px, rgba(0,0,0,.2) 0 2.5px 2.5px, rgba(0,0,0,.1) 0 4px 4px;
}

.new {
    text-shadow: rgb(223, 223, 223) 0.2px 0.9px 0px, rgb(171, 168, 168) 0.3px 0.8px 0.6px;
}


.card-media > img {
    height: 90px;
    width: 90px;
}
