<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <meta charset="UTF-8">
        <!-- Css Librarys -->
        <link rel="stylesheet" href="css/popup.css">
        <link rel="stylesheet" href="css/material-icons.css">
        <!-- Material Design CSS -->
        <link rel="stylesheet" href="css/angular-material.min.css">
        <!-- javascrip librarys -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/material/angular-animate.min.js"></script>
        <script src="js/material/angular-aria.min.js"></script>
        <script src="js/material/angular-messages.min.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/popup_frame_out.js"></script>
        <script src="js/app/popup.js"></script>
        <!-- Material Degign Script-->
        <script src="js/material/angular-material.min.js"></script>
    </head>
    <body id="popup">
        <div class="row" ng-controller="appController as mmdd">
                <div layout="row" flex>
                    <div ng-switch on="{{mmdd.data.closable}}">
                        <div ng-switch-when="true">
                            <button class="md-fab md-mini md-primary close" type="button" ng-click="mmdd.saludoAngular()" >
                                <md-icon class="material-icons">highlight_off</md-icon>
                            </button>
                        </div>
                        <div ng-switch-default></div>
                    </div>
                </div>
            <div id="click" ng-click="mmdd.irProducto()">
                <div id="dentro">
                <md-card style="matgin: 0; box-shadow: none;">
                    <md-card-header>
                        <md-card-avatar style="width: 145px;height: auto;">
                            <img src="img/header-logo.png"/>
                        </md-card-avatar>
                    </md-card-header>
                    <md-card-title>
                        <md-card-title-text style="padding-top: 5px;">
                            <span id="jtextfill" class="md-headline">{{mmdd.data.titulo | uppercase}}</span>
                        </md-card-title-text>
                    </md-card-title>
                <md-card-content>
                  <p>
                    <h3 class="md-body-2 new" style="-webkit-margin-after: 0.6em;text-align: center;font-size: 15px;color: #f50000;"><b>PRICE ON THIS STORE: </b><span style="font-size: 1.2em"><b >US</b><span style="font-family: Helvetica, sans-serif;">$</span><b >{{mmdd.data.precio}}</b></span></h3>
                    <h2 class="md-body-2 "  style="text-align: center; font-size: 17px;color: #00b856;margin-top: 0px;margin-bottom: 0px;" ><b>WE CAN FIND IT FOR:</b> <span style="font-size: 1.2em"><b >US</b><span style="font-family: Helvetica, sans-serif;">$</span><b >{{mmdd.data.precio_mph | number : 2}}</b></span></h2>
                    <h2 class="md-body-2" style="-webkit-margin-after: 0.2em;font-size: 16px;font-weight: bolder; text-align: center;color:  #00b856;margin-top: 2px;margin-bottom: 2px;">(YOU SAVE US<a style="font-family: Helvetica, sans-serif;">$</a>{{mmdd.data.precio - mmdd.data.precio_mph | number : 2}} - {{((mmdd.data.precio - mmdd.data.precio_mph)*100)/mmdd.data.precio | number : 0}}%)</h2>
                  </p>
                </md-card-content>
                <img ng-src="{{mmdd.data.imagen_url}}" class="md-card-image" alt="Imagen" style="padding-bottom: 0.5em;width: auto;height: 192px;margin: -15px auto;">
              </md-card>
        </div>
            </div>
        </div>
    </body>
</html> 
